{{- /* Range over the linted files */ -}}

{{- range .Files}}

{{- $path := .Path -}}

{{- /* Range over the file's alerts */ -}}

{{- range .Alerts -}}

{{- /* Variables setup */ -}}

{{- $line := printf "%d" .Line -}}
{{- $col := printf "%d" (index .Span 0) -}}
{{- $check := printf "%s" .Check -}}
{{- $message := printf "%s" .Message -}}
{{- $level := printf "%s" .Severity -}}

{{- /* Output */ -}}
{{ $path }}:{{ $line }}:{{ $col }}:{{ $level }}:{{ $check }}:{{ $message }}
{{end -}}
{{end -}}
