{{- /* Range over the linted files */ -}}

{{- range .Files}}

{{- $path := .Path -}}

{{- /* Range over the file's alerts */ -}}

{{- range .Alerts -}}

{{- $error := .Severity -}}
{{- if eq .Severity "suggestion" -}}
    {{- $error = "info" -}}
{{- end}}

{{- /* Variables setup */ -}}

{{- $line := printf "%d" .Line -}}
{{- $col := printf "%d" (index .Span 0) -}}
{{- $check := printf "%s" .Check -}}
{{- $message := printf "%s" .Message -}}

{{- /* Output */ -}}
{{ $path }}:{{ $line }}:{{ $col }}:{{ $error }}:{{ $check }}:{{ $message }}
{{end -}}
{{end -}}
